// 開始・結果画面とプレイ中の芝生で共通の背景色
.bg-field {
    background-color: #0a3d2d;
}

// 野球盤

// 盤表示
$board-item-side-empty-size: 20px;

.point-box {
    display: flex;
    justify-content: space-between;

    .point-item {
        width: 150px;
        border-left: $board-item-side-empty-size solid transparent;
        border-right: $board-item-side-empty-size solid transparent;
        height: 0;
    }
}

// 結果表示欄
.result-board {
    background-color: white;
    width: 78px;
    height: 70px;

    .strike {
        color: #ffc93c;
    }

    .out {
        color: #f55c47;
    }
}

// 移動用（中央揃え）
.moved-item-center {
    position: absolute;
    // 中央揃えの指定
    left: 0;
    right: 0;
    margin: auto;
}

// utility

.item-center {
    text-align: center;
}

// 文字数が多い時の「...」表記
.text-shortten {
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
}

.pointer {
    cursor: pointer;
}